@font-face{
    src: url(fonts/Lazydog.otf);
    font-family: Lazydog;
}

@font-face{
    src: url(fonts/Hana.ttf);
    font-family: Hana;
}

body{
    background-color: lightblue;
}
h1{
    font-family: lazydog;
    font-style: italic;
}
p{
    font-family: Hana;
    font-size: 14px 
}
.odd{
    background-color: blue;
}
.even{
    background-color: pink;
}
#p1{
    color:yellow;
}
#p2{
    color:rgb(102, 222, 255);
}
#p3{
    color: #59ff5f;
}
#p4{
    color: hsl(287, 76%, 24%);
}