@font-face{
    src: url(fonts/Lazydog.otf);
    font-family: Lazydog;
}

@font-face{
    src: url(fonts/Hana.ttf);
    font-family: Hana;
}

body{
    background-color: lightblue;
}
h1{
    font-family: lazydog;
    font-style: italic;

    border-style:double;
    border-width: 5px;
    border-color:#59ff5f;
    border-radius: 20px;

    
}

h2{
    text-shadow: 3px 3px 5px rgb(255, 0, 0),
                 3px 3px 5px rgb(44, 51, 255);
}

#box1{
    background-color: bisque;
    margin: auto;
    box-shadow: 3px 3px 5px;
}


.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}

p{
    border-bottom:3px solid rgb(151, 8, 8);
    font-family: Hana;
    font-size: 14px;
}
.odd{
    background-color: blue;
}
.even{
    background-color: pink;
}
#p1{
    color:yellow;
}
#p2{
    color:rgb(102, 222, 255);
}
#p3{
    color: #59ff5f;
}
#p4{
    color: hsl(287, 76%, 24%);
}

#img1{
    float:left;
    margin-right: 10px;
}

#img2{
    float: right;
    margin-left: 10px;
}

body{
    border: 3px solid;
    display:flow-root;
}